/* Nawigacja */
#nawigacja ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #0277bd;
    display: flex;
    justify-content: space-around;
}

#nawigacja ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}

#nawigacja ul li a:hover {
    background-color: #01579b;
}
